.faq h1 {
    text-align: center;
    padding: 2rem 0;

    font-weight: 600;
    font-style: semi-bold;
    font-size: 34px;
    line-height: 1.5;
}

.faq {
    width: 100%;
    margin-top: 70px;
}

.ola {

    max-width: 60%;
    margin: 15px auto;
}

#menzo {
    background-color: black;
    color: rgb(238, 210, 210);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    ;
}

#accordion {
    margin: 15px 0;
    border-radius: 20px;
    padding: 6px 0;
}

#design {

    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    color: rgba(30, 30, 30, 1);
    line-height: 1.5;


}

/* resoponsivenss of faq section */
/* Responsive styles */



@media (min-width:820px) and (max-width:1024px) {
    .faq {
        /* max-width: 100%; */
        margin-top: 5rem;
    }

    .faq h1 {
        font-size: 30px;
        text-align: center;
        /* Further reduce heading size for mobile */
        padding: 7px 0;
        width: 100%;

        /* Reduce padding */
    }

    .ola {

        max-width: 90%;
        /* Increase width for very small screens */
    }

    #menzo {
        height: 25px;
        /* Adjust size of the circle */
        width: 25px;
    }

    #design {
        font-size: 18px;
        /* Adjust font size for mobile */
    }

}

@media (max-width:768px) {
    .faq {
        /* max-width: 100%; */
        margin-top: 5rem;
    }

    .faq h1 {
        font-size: 30px;
        text-align: center;
        /* Further reduce heading size for mobile */
        padding: 7px 0;
        width: 100%;

        /* Reduce padding */
    }

    .ola {

        max-width: 90%;
        /* Increase width for very small screens */
    }

    #menzo {
        height: 25px;
        /* Adjust size of the circle */
        width: 25px;
    }

    #design {
        font-size: 18px;
        /* Adjust font size for mobile */
    }
}

@media (max-width:480px) {
    .faq {

        padding: 15px 0 0 15px;
        width: 100%;

    }



    #accordion {

        width: 100%;
    }

    .faq h1 {
        font-size: 28px;
        text-align: center;
        line-height: 1.7;
        padding: 5px 0;



    }

    .ola {
        width: 100%;
        margin: 15px 0;
        padding: 15px;


    }

    #menzo {
        height: 25px;

        width: 25px;
    }

    #design {
        font-size: 18px;

    }
}